.resultsContainer {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 65vh;
    padding-right: 10px;
}

.buttonBox {
    cursor: pointer;
}

.buttonBox:hover {
    background-color: #EEEEEE;
}