@font-face {
  font-family: "GothamLight";
  src: url("../fonts/GothamLight.ttf");
}

@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/GothamMedium.ttf");
}

@font-face {
  font-family: "GothamBold";
  src: url("../fonts/GothamBold.ttf");
}

@font-face {
  font-family: "GothamBook";
  src: url("../fonts/GothamBook.ttf");
}

.artist {
  font-family: "GothamBook";
  font-size: 75px;
  line-height: 90px;
}

.song {
  font-family: "GothamMedium";
  font-size: 75px;
  line-height: 90px;
}

.trackTime {
  font-family: "GothamLight";
  font-size: 45px;
}

.albumImg {
  width: 600px;
  height: 600px;
}

.playerControls img {
  width: 120px;
}

.switchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.switchContainer small {
  width: 35px;
}

.timeBar {
  height: 2px;
}

.timeBar .currentTimeBar {
  position: relative;
  top: -50%;
  height: 4px;
  width: 70%;
}

.timeBar .currentTimeBar .currentTimeDot {
  position: relative;
  left: 100%;
  top: -120%;

  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.cover {  
  transform: scale(0.115);

  width: 3000px;
  height: 1000px;
  padding: 150px 450px 150px 450px;

  position: relative;
  top: -370px;
}

.configurations {
  position: relative;
  top: -720px;
}

@media screen and (min-width: 525px) {
  .cover {
    top: -370px;
    transform: scale(0.17);
  }

  .configurations {
    position: relative;
    top: -720px;
  }
}

@media screen and (min-width: 720px) {
  .cover {
    top: -370px;
    transform: scale(0.23);
  }

  .configurations {
    position: relative;
    top: -700px;
  }
}

@media screen and (min-width: 820px) {
  .cover {
    top: -350px;
    transform: scale(0.27);
  }

  .configurations {
    position: relative;
    top: -670px;
  }
}

@media screen and (min-width: 1216px) {
  .cover {
    top: -300px;
    transform: scale(0.34);
  }

  .configurations {
    position: relative;
    top: -600px;
  }
}

@media screen and (min-width: 1408px) {
  .cover {
    top: -280px;
    transform: scale(0.4);
  }

  .configurations {
    position: relative;
    top: -550px;
  }
}