@font-face {
  font-family: "GothamLight";
  src: url("../fonts/GothamLight.ttf");
}

@font-face {
  font-family: "GothamMedium";
  src: url("../fonts/GothamMedium.ttf");
}

@font-face {
  font-family: "GothamBold";
  src: url("../fonts/GothamBold.ttf");
}

@font-face {
  font-family: "GothamBook";
  src: url("../fonts/GothamBook.ttf");
}

.artist {
  font-family: "GothamBook";
  font-size: 25px;
  line-height: 30px;
}

.song {
  font-family: "GothamMedium";
  font-size: 25px;
  line-height: 30px;
}

.trackTime {
  font-family: "GothamLight";
  font-size: 15px;
}

.albumImg {
  width: 200px;
  height: 200px;
}

.switchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.switchContainer small {
  width: 35px;
}

.timeBar {
  height: 2px;
}

.timeBar .currentTimeBar {
  position: relative;
  top: -50%;
  height: 4px;
  width: 70%;
}

.timeBar .currentTimeBar .currentTimeDot {
  position: relative;
  left: 100%;
  top: -120%;

  height: 15px;
  width: 15px;
  border-radius: 50%;
}

.cover {
  transform: scale(0.35);
  width: 1000px;
  height: 335px;
  padding: 50px 150px 50px 150px;
}

.configurations {
  position: relative;
  top: -100px;
}

@media screen and (min-width: 525px) {
  .cover {
    transform: scale(0.5);
  }

  .configurations {
    position: relative;
    top: -80px;
  }
}

@media screen and (min-width: 720px) {
  .cover {
    transform: scale(0.7);
  }

  .configurations {
    position: relative;
    top: -50px;
  }
}

@media screen and (min-width: 820px) {
  .cover {
    transform: scale(0.8);
  }

  .configurations {
    position: relative;
    top: -30px;
  }
}

@media screen and (min-width: 1025px) {
  .cover {
    transform: scale(1);
  }

  .configurations {
    position: initial;
  }
}