.twitterLayout {
  position: relative;
}

.preview {
  position: absolute;
  width: auto;
  max-width: 550px;
  max-height: 500px;
}

.cover {
  position: relative;
  top: -428px;
  z-index: -1;
}

@media screen and (max-width: 567px) {
  .cover {
    position: relative;
    top: -78vw;
    z-index: -1;
  }
}